/*--------Обнуление------------------*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 32px;
    color: #000000;
    font-weight: 400;
    font-family: Lobster;
}
.wrapper {
    background:#FFFFFF;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
max-width: 1440px;
margin: 0px auto;
}
._ibg {
    position: relative;
}
._ibg img {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
object-fit: cover;
}
/*------------------Шапка--------------------------------------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 112px;
    align-items: center;
}
.menu {
    margin: 0px 20px 0px 0px;
}
@media (max-width: 992px){
    .menu {
        margin: 0px 0px 0px 20px;
    }
}
@media (max-width: 767px){
    .menu {
        margin: 0px 0px 0px 20px;
    }
}
.menu__list {
    flex-wrap: wrap;
    display: flex;
}
.menu__item {
    margin: 0px 60px 0px 20px;
    
}
.menu__link {
    color: #000000;
    font-weight: 400;
    line-height: calc(24/32*100%);

}
@media (max-width: 487px){
    .menu__link {
        margin: 0px 0px 0px 0px;
    }
    }
.phon {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 0px 66px;
}




/*----------page------------------------------*/
.page {
    flex: 1 1 auto;

}
.page__main-block {
}



/*----------Подвал------------------------------*/
.footer {

}


/*----------Main--------------------------------*/


.main-block {
    position: relative;
}
.main-block__container {
}
._container {
}
.main-block__body {
    padding: 112px 0px 361px 0px;
    position: relative;
    z-index: 2;
}
.main-block__title {
    position: absolute;
left: 26.6%;
right: 26.53%;
top: 131px;
bottom: 63.16%;

font-family: 'Jua';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 120px;
letter-spacing: 0.745em;

color: #A3B1FF;
}
.main-block__text {
    position: absolute;
left: 40.69%;
right: 40.69%;
top: 245px;
bottom: 42.11%;

font-family: 'Jua';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 80px;

color: #FFFFFF;

}
.main-block__buttons {
    position: absolute;
    left: 38%;
   
  
    top: 60%;
    bottom: 14.68%;

background: linear-gradient(180deg, #798FFF 0%, rgba(130, 137, 143, 0.53) 100%);
border-radius: 50px;
display: flex;
min-height:  70px;


justify-content: center;
align-items: center;
font-family: 'Fira Mono';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
/* identical to box height */

letter-spacing: 0.435em;

color: #FFFFFF;


}

.main-block-image {
position: absolute;
width: 100%;
height: 361px;
left: 0px;
top: 112px;
}

/*----------Подвал--------------------------------*/



}
.footer__img {
  
}    